

/* header section */
.container{
    text-align: center;
    font-weight: 400px;
    font-size: 15px;

}
.banner{
    background-image: url(/donate-today/images/donation1.jpg);
  background-position: center;
   background-size: cover;
    text-align: center;
     color: aliceblue;
    height: 400px;
   justify-content: center;
   display: flex;
   flex-direction: column;

   }
.primary-btn{
    background-color: #FD6E0A;
     color: white;
     border-radius: 3px;
     border: none;
     

    }
    /* main part */
    .donate-today{
        position: relative;
        padding: 40px;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    
   
    
       
    
    .second-btn{
        background-color: #FD6E0A;
        color: white;
        border-radius: 3px;
        border: none;
        height: 30px;
   
    }